<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.jbsapp.www.mapper.MoviesMapper">
	<insert id="insert" parameterType="shop.jbsapp.www.vo.MoviesVo">
		INSERT INTO MOVIES VALUES(MOVIES_SEQ.NEXTVAL, #{title}, #{content}, #{director}, #{genre}, #{rating}, #{image})
	</insert>
	
	<delete id="deleteById">
		DELETE FROM MOVIES WHERE ID = #{id}
	</delete>
	
	<select id="findById" resultType="shop.jbsapp.www.vo.MoviesVo">
		SELECT * FROM MOVIES WHERE ID = #{id}
	</select>
	
	<select id="findAll" resultType="shop.jbsapp.www.vo.MoviesVo">
		SELECT * FROM MOVIES
	</select>
	
	<select id="count" resultType="int">
		SELECT COUNT(*)	FROM MOVIES
	</select>
	
	<select id="findAllPaging" parameterType="shop.jbsapp.www.util.PageUtil" resultType="shop.jbsapp.www.vo.MoviesVo">
		SELECT * FROM
			(SELECT M.*, ROWNUM RNUM FROM
				(SELECT * FROM MOVIES ORDER BY ID DESC) M
			)
		<![CDATA[WHERE RNUM >= #{startRow} AND RNUM <= #{endRow}]]>
	</select>
</mapper>