<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" >

    <property name="LOG_DIR" value="C:\Users\qhtjd\OneDrive\Desktop\CINEMA\logs" />
    <property name="LOG_PATH_NAME" value="${LOG_DIR}/data.log" />

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH_NAME}.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
      </layout>
    </appender>
    
    <logger name="shop.jbsapp.www" level="DEBUG"/>
    
     <root level="INFO">
       <appender-ref ref="file" />
       <appender-ref ref="console" />
     </root>
</configuration>