@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

body {
	min-width:1024px;
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	margin:0;
	padding:0;
	overflow-y:scroll;
}
.movie {
	width:100%;
	display:block;
	box-sizing:border-box;
	margin:0;
	padding:200px 0 0 0;
}
.movie_container {
	max-width:980px;
	display:block;
	box-sizing:border-box;
	margin:0 auto;
	padding:0;
}
.mbtn_list {
	width:980px;
	display:flex;
	justify-content:space-between;
	box-sizing:border-box;
	border:none;
	list-style:none;
	margin:0;
	padding:0;
	margin-bottom:60px;
}
.mbtn_list:last-child {
	justify-content:flex-start;
	margin-bottom:0px;
}
.mbtn_list li{
	display:list-item;
	float:left;
	box-sizing:border-box;
	list-style:none;
	margin:0;
	padding:0;
	margin-right:60px;
}
.mbtn_list li:last-child {
	margin:0;
}
.mbtn_list li a {
	width:200px;
	height:200px;
	text-align:center;
	display:inline-block;
	cursor:pointer;
	font-size:18px;
	line-height:200px;
	letter-spacing:-0.03em;
	text-decoration:none;
	color:#000;
	border-radius:4px;
	border:1px solid #444;
}