@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

body {
	min-width:1024px;
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	margin:0;
	padding:0;
	overflow-y:scroll;
}
.booking_container{
	width:1280px;
	display:block;
	margin:0;
	padding:115px 0 0 0;
}
.booking_wrapper_container {
	width:1280px;
	display:block;
	margin:0 auto;
	padding:50px 0 50px 70px;
	background-color:#444;
}
.wrap_booking {
	width: 1280px;
    height: 600px;
	overflow: hidden;
    position: relative;
    margin: 0 auto;
    letter-spacing: normal;
	line-height: 1.1;
}
/*
.wrap_booking{
	background-color: #FFF;
	color: #000;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	height: 870px;
	letter-spacing: normal;
	line-height: 1.1;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	width: 1280px;
}
*/
.wrap_part{
	color: #000;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	height: 100%;
	letter-spacing: normal;
	line-height: 1.1;
	margin-left: 0px;
	overflow: hidden;
	position: relative;
	width: 1202px;
}
.theater-part{
	background-color: #FFF;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	box-sizing: border-box;
	color: #000;
	display: block;
	float: left;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	height: 100%;
	letter-spacing: normal;
	line-height: 1.1;
	position: relative;
	width: 351px;
}
.booking-title{
	background-color: #000;
	border-right-color: rgb(34, 34, 34);
	border-right-style :solid;
	border-right-width: 1px;
	color: #000;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	height: 55px;
	letter-spacing: normal;
	line-height: 55px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	text-align: center;
}
.booking-title-top{
	color : #FFF;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	height: 55px;
	letter-spacing: -0.03em;
	line-height: 1.1;
	text-align: center;
	margin-block-end: 1.33em;
	margin-block-start: 1em;

}
.theater_inner{
	border-right-color: rgb(221, 221, 221);
	border-right-style: solid;
	border-right-width: 1px;
	color: #000;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	height: 815px;
	letter-spacing: -0.03em;
	line-height: 1.1;
	overflow-x: hidden;
	overflow-y: hidden;
}
.tab_wrap.outer{
	color: #000;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	height: 753px;
	letter-spacing: -0.03em;
	line-height: 1.1;
	list-style-image: initial;
	list-style-position: initial;
	list-style-type: none;
	margin-block-end :1em;
	margin-block-start: 1em;
	margin-bottom: 0px;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-inline-start: 40px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 61px;
	position: relative;
}
/* li */
.movie_wrap.inner{
	color: #000;
	display: list-item;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	letter-spacing: -0.03em;
	line-height: 1.1;
	list-style-image: initial;
	list-style-position: initial;
	list-style-type: none;
	text-align: left-webkit-match-parent;
	width: 50%;
}
/*
.movie_wrap.inner2{
	color: #000;
	display: list-item;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	letter-spacing: -0.03em;
	line-height: 1.1;
	list-style-image: initial;
	list-style-position: initial;
	list-style-type: none;
	text-align: left-webkit-match-parent;
	width: 50%;
}
*/
/* button */
.location{
	align-items: flex-start;
	appearance: none;
	background-color: #fff;
	border:none;
	border-bottom:2px solid rgb(17, 17, 17);
	box-sizing: border-box;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	height: 61px;
	left: 0px;
	letter-spacing: normal;
	line-height: 50px;
	list-style: none;
	margin: 55px 0em 0em 0em; 
	padding:1px 6px;
	position: absolute;
	text-align: center;
	top: 0px;
	vertical-align: middle;
	width: 50%;
	word-spacing: normal;
	writing-mode: horizontal-tb
	-webkit-border-image none;
}

.location span{
	color: #000;
	cursor: pointer;
	display: inline;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 20px;
	font-stretch: normal;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-weight: 400;
	height: auto;
	letter-spacing: normal;
	line-height: 50px;
	list-style-image: initial;
	list-style-position: initial;
	list-style-type: none;
	position: relative;
	text-align: center;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	vertical-align: top;
	white-space: nowrap;
	width: auto;
	word-spacing: normal;
	writing-mode: horizontal-tb;
}

.theaterLoc-list{
	background-color: #fff;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 20px;
	height: 100%;
	letter-spacing: 0em;
	line-height: 1.1;
	list-style-image: initial;
	list-style-position: initial;
	list-style-type: none;
	position: relative;
	text-align: center;
	width: 50%;
	margin-top:61px;
}
.theater_name{
	align-items: flex-start;
	appearance: none;
	background-color: #fff;
	border:none;
	border-bottom:2px solid rgb(17, 17, 17);
	box-sizing: border-box;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 15px;
	font-weight: 400;
	height: 61px;
	left: 50%;
	letter-spacing: normal;
	line-height: 50px;
	list-style: none;
	margin: 55px 0em 0em 0em; 
	padding:1px 6px;
	position: absolute;
	text-align: center;
	top: 0px;
	vertical-align: middle;
	width: 50%;
	word-spacing: normal;
	writing-mode: horizontal-tb
	-webkit-border-image none;
}
.theater_name span{
	color: #000;
	cursor: pointer;
	display: inline;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 20px;
	font-stretch: normal;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-weight: 400;
	height: auto;
	letter-spacing: normal;
	line-height: 50px;
	list-style-image: initial;
	list-style-position: initial;
	list-style-type: none;
	position: relative;
	text-align: center;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	vertical-align: top;
	white-space: nowrap;
	width: 175px;
	word-spacing: normal;
	writing-mode: horizontal-tb;
}
.theaterName_list{
	background-color: #fff;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 20px;
	height: 100%;
	letter-spacing: 0em;
	line-height: 30px;
	list-style-image: initial;
	list-style-position: initial;
	list-style-type: none;
	position: absolute;
	text-align: center;
	width: 175px;
	margin-left: 175px;
	
}
.movie-part{
	background-color: #F8F8F8;
	box-sizing: border-box;
	color: #000;
	display: block;
	float: left;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	height: 100%;
	letter-spacing: -0.03em;
	line-height: 1.1;
	position: relative;
	width: 351px;
}
.booking-movie{
	background-color: #000;
	border-right-color: rgb(34, 34, 34);
	border-right-style: solid;
	border-right-width: 1px;
	color: #000;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	height: 55px;
	letter-spacing: -0.03em;
	line-height: 55px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	text-align: center;
}
.booking-move-top{
	color: #fff;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: -0.03em;
	line-height: 55px;
	margin-block-end: 1.33em;
	margin-block-start: 1.33em;
	margin-bottom: 0px;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
	margin: 0 0 0 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: center;
}
.sort-wrapper{
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #000;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	height: 60px;
	letter-spacing: -0.03em;
	line-height: 1.1;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	position: relative;
}

.movieField{
	align-items: center;
	appearance: none;
	background-attachment: initial;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	/*background-image: url(https://www.lottecinema.co.kr/NLCHS/Content/images/icon/arr_dw_13.png); */
	background-origin: padding-box;
	background-position-x: right 6px;
	background-position-y: top 50%;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-size: initial;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: initial;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(221, 221, 221);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(221, 221, 221);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(221, 221, 221);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	color: #000;
	cursor: default;
	display: inline-block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 14px;
	font-stretch: normal;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-weight: 400;
	height: 30px;
	letter-spacing: normal;
	line-height: 29px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 15px;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 35px;
	padding-top: 0px;
	text-align: start;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	vertical-align: middle;
	white-space: pre;
	width: 180px;
	word-spacing: normal;
	writing-mode: horizontal-tb;
	-webkit-rtl-ordering: logical;
}
.select.option{
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 14px;
	font-stretch: 100%;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-weight: 400;
	height: auto;
	letter-spacing: normal;
	line-height: 29px;
	min-height: 1.2em;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
	text-align: start;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	white-space: nowrap;
	width: auto;
	word-spacing: normal;
	writing-mode: horizontal-tb;
	-webkit-rtl-ordering: logical;
}
/*
.movie-list{
	color: rgb(0, 0, 0);
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 15px;
	height: 754px;
	letter-spacing: 0.03em;
	line-height: 1.1;
	overflow-x: visible;
	overflow-y: visible;
	position: relative;
	touch-action: pinch-zoom;
	direction: ltr;
	max-height: none;
	max-width: 100%;
	outline-color: rgb(0, 0, 0);
	outline-style: none;
	outline-width :0px;
}
*/
.movie-list{
	color: rgb(0, 0, 0);
	cursor: pointer;
	direction: ltr;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 30px;
	list-style-image: initial;
	list-style-position: initial;
	list-style-type: none;
	overflow: hidden;
	padding-left: 30px;
	text-align: left;
	text-decoration-thickness: initial;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 250px;
	touch-action: pinch-zoom;
	
}
.date-part{
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	display: block;
	float: left;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	height: 100%;
	letter-spacing: -0.03em;
	line-height: 1.1;
	position: relative;
	width: 150px;
}
.booking-date{
	background-color: rgb(0, 0, 0);
	border-right-color: rgb(34, 34, 34);
	border-right-style: solid;
	border-right-width: 1px;
	color: rgb(0, 0, 0);
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	height: 55px;
	letter-spacing: -0.03em;
	line-height: 55px;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.booking_date_wrap{
	color: rgb(0, 0, 0);
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	letter-spacing: -0.03em;
	line-height: 1.1;
}
.time-part{
	background-color: #F8F8F8;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	display: block;
	float: left;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	height: 100%;
	letter-spacing: -0.03em;
	line-height: 1.1;
	position: relative;
	width: 350px;
}
.booking-title{
	background-color: rgb(0, 0, 0);
	border-right-color: rgb(34, 34, 34);
	border-right-style: solid;
	border-right-width: 1px;
	color: rgb(0, 0, 0);
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	height: 55px;
	letter-spacing: -0.03em;
	line-height: 55px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	text-align: center;
}
.year_month{
	color: rgb(0, 0, 0);
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 20px;
	letter-spacing: 3px;
	text-align: center;
	padding: 19px 0px;
	border-bottom: 1px solid black;
}
.date_list ul li{
	 list-style:none;
	 margin-top: 20px;
	 font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	 font-size: 17px;
	 text-align: center;
}

.date_list li{
	height: 20px;
}

.showListBox{
	color: rgb(0, 0, 0);
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 20px;
	margin-left: 20px;
	line-height: 50px;
}

.timeListBox{
	color: rgb(0, 0, 0);
	background-color: #fff;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 20px;
	border: 1px solid;
	height: 40px;
	width: 100px;
	text-align: center;
	margin: 10px 0 10px 0;
	line-height:40px;
	align-items:center;
}