@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

body {
	min-width:1024px;
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	margin:0;
	padding:0;
	overflow-y:scroll;
}

/*count_container */
.count_container {
	width:1280px;
	display:block;
	margin:0;
	padding:115px 0 0 0;
}
.count_wrapper_container {
	width:1280px;
	display:block;
	margin:0 auto;
	padding:50px 0 0 70px;
	background-color:#444;
}
.count_wrapper {
	width:1280px;
    height: 600px;
	overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.count_content {
    width: 1202px;
    height: 100%;
	display: block;
    overflow: inherit;
    position: relative;
    margin-left: 78px;
}
.seat_select {
	width: 1202px;
    height: 100%;
    display:block;
	position: relative;
    float: left;
    box-sizing: border-box;
    background-color: #FFF;
}
.group_top {
    height: 55px;
	overflow: hidden;
    position: relative;
    line-height: 55px;
    border-right: 1px solid #222;
    text-align: center;
    background-color: #000;
}
.group_top h4 {
	font-size: 18px;
    color: #FFF;
    letter-spacing:-0.03em;
    line-height:55px;
}
.seat_inner {
    height: 815px;
	overflow: hidden;
	display:block;
}
.person_count {
	display:block;
}
.select_numpeople {
    height: 117px;
    display:block;
	overflow: hidden;
    padding: 0 20px;
    background-color: #FFF;
}

.select_form {
	width:330px;
	height:40px;
	margin:38.5px auto;
}
label {
	margin-right: 8px;
    font-size: 14px;
}
.count {
	display: inline-block;
    width: 100px;
    position:relative;
    border: 1px solid #DDD;
    border-radius:4px;
    background-color: #fff;
    box-sizing: border-box;
}
.count_minus {
	height:38px;
	position: absolute;
    top: 0;
    bottom: 0;
    border: 0 none;
    padding: 0 15px;
    align-items:flex-start;
    box-sizing:border-box;
    cursor:pointer;
    vertical-align:center;
    background-color:#FFF;
    color:#000;
    background-image:url("images/seat/minus_12.png");
    background: no-repeat 50% 50%;
}
.count_number {
	padding: 11px 0;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    color: #000;
    text-align: center;
    vertical-align: middle;
    display:block;
    appearance:none;
}
.count_plus {
	height:38px;
	right: 0;
	position: absolute;
    top: 0;
    bottom: 0;
    background: no-repeat 50% 50%;
    border: 0 none;
    padding: 0 15px;
    align-items:flex-start;
    box-sizing:border-box;
    cursor:pointer;
    vertical-align:center;
    background-color:#FFF;
    color:#000;
}
button {
	font-size:20px;
}