@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

body {
	min-width:1024px;
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	margin:0;
	padding:0;
	overflow-y:scroll;
}

/*content*/
.content {
	width:100%;
	display:block;
	box-sizing:border-box;
	margin:0;
	padding:150px 0 0 0;
}
.content_container {
	max-width:980px;
	display:block;
	box-sizing:border-box;
	margin:0 auto;
	padding:0;
}

.titdiv{
	margin: 20px 0 50px 0;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
   
.tit{
	padding-bottom: 5px;
	font-size: 15px;
	color: #000;
}
   
.tit2{
	font-size: 12px;
	color: #707070;
	line-height: 1.3;
}

.nch{ color: red;}

.titcolor{    color: #ff7787 !important;}
   
.bun{    border: 1px solid #DDD;
   background: #fff url(../images/icon/arr_dw_13.png);
   background-repeat: no-repeat;
   background-position: right 6px top 50%;
   height: 40px;
   line-height: 40px;
   padding: 0 35px 0 18px;
   font-size: 14px;
   box-sizing: border-box;}    

.num{border: 1px solid #DDD;
    background: #fff url(../images/icon/arr_dw_13.png);
    background-repeat: no-repeat;
    background-position: right 6px top 50%;
    height: 40px;
    line-height: 40px;
    padding: 0 35px 0 18px;
    font-size: 14px;
    box-sizing: border-box;background-color: #F8F8F8;
    border-color: #DDD;}    
    
.writer{border: 1px solid #DDD;
    background: #fff url(../images/icon/arr_dw_13.png);
    background-repeat: no-repeat;
    background-position: right 6px top 50%;
    height: 40px;
    line-height: 40px;
    padding: 0 35px 0 18px;
    font-size: 14px;
    box-sizing: border-box;background-color: #F8F8F8;
    border-color: #DDD;}    
    
    
.title{border: 1px solid #DDD;
    background: #fff url(../images/icon/arr_dw_13.png);
    background-repeat: no-repeat;
    background-position: right 6px top 50%;
    height: 40px;
    line-height: 40px;
    padding: 0 35px 0 18px;
    font-size: 14px;
    box-sizing: border-box;background-color: #F8F8F8;
    border-color: #DDD;}

.date{border: 1px solid #DDD;
    background: #fff url(../images/icon/arr_dw_13.png);
    background-repeat: no-repeat;
    background-position: right 6px top 50%;
    height: 40px;
    line-height: 40px;
    padding: 0 35px 0 18px;
    font-size: 14px;
    box-sizing: border-box;background-color: #F8F8F8;
    border-color: #DDD;}  
   
.post_content{
	width:100%;
	height:200px;
	border: 1px solid #DDD;
    padding: 0 35px 0 18px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #F8F8F8;
    border-color: #DDD;
}
    
    .btn2{    height: 45px;
    line-height: 43px;
    padding: 0 18px;margin: 0 3px;
    min-width: 160px;text-decoration: none;
    cursor: pointer;    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    background-color: #414141;}
    
    .btn3{height: 45px;
    line-height: 43px;
    padding: 0 18px;margin: 0 3px;
    min-width: 160px;text-decoration: none;
    cursor: pointer;   display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #000000;
    font-size: 14px;
    color: #000000 !important;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;}