@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

body {
	min-width:1024px;
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	margin:0;
	padding:0;
	overflow-y:scroll;
	box-sizing:border-box;
	word-break:keep-all;
}

.delaccount {
	display:block;
	box-sizing:border-box;
	margin:0;
	padding:0;
	color:#555;
}
.title {
	font-size:28px;
    line-height:32px;
	font-weight:inherit;
	letter-spacing:-0.05em;
    color:#000;
	display:block;
	box-sizing:border-box;
    padding-bottom:20px;
	border-bottom:1px solid #000;
	margin-bottom:20px;
}
.caution {
	font-size:15px;
	display:block;
	box-sizing:border-box;
}

.content {
	display:block;
	box-sizing:border-box;
	margin-top:10px;
}
.content ol {
	display:block;
	box-sizing:border-box;
	list-style:none;
    margin:0;
    padding:0;
}
.list_num {
	display:list-item;
	box-sizing:border-box;
	list-style:none;
	padding:0 0 30px 0;
}
.subtitle {
    font-size:20px;
    font-weight:400;
	display:block;
	box-sizing:border-box;
    margin:0;
	padding:0 0 5px 0;
}
.list_num ul {
	display:block;
	box-sizing:border-box;
    margin:0;
    padding:0;
	margin-top:10px;
	list-style:none;
}
.list_detail {
	display:list-item;
	box-sizing:border-box;
	position:relative;
    padding:0 0 0 8px;
}
.list_detail::before {
	content:'';
    display:block;
    position:absolute;
    top:10px;
    left:0;
    background-color:#555;
    width:3px;
    height:3px;
}

.del_form {
	display:block;
	box-sizing:border-box;
	marging:0;
	padding:0;
}
.join1 {
    width:100%;
	display:table;
	box-sizing:border-box;
    table-layout:fixed;
	padding:20px 0;
    /*border-top:1px solid #555;*/
}
.join_col1 {
	width:100px;
    display:table-cell;
	box-sizing:border-box;
    vertical-align:top;
    font-size:15px;
    ling-height:34px;
    letter-spacing:-0.05em;
    color:#8a8a8a;
}
.join_col_input {
	width:470px;
    display:table-cell;
	box-sizing:border-box;
	color:#8a8a8a;
}
.input_wrap {
	width:470px;
	display:block;
	box-sizing:border-box;
	marging:0;
	padding:0;
}
.wrap_inner {
	width:470px;
	display:block;
	box-sizing:border-box;
	marging:0;
	padding:0;
}
.ui_input {
    width:100%;
    max-width:462px;
    display:inline-block;
	margin:0 6px 0 0;
	padding:0;
	position:relative;
    vertical-align:top;
    background-color:#f0f0f0;
}
.input_space {
    width:462px;
    height:34px;
    display:inline-block;
	box-sizing:border-box;
	cursor:text;
	position:relative;
    padding:0 10px;
    font-size:14px;
    line-height:34px;
    border:0;
    background-color:#f0f0f0;
    opacity:1;
    z-index:1;
}
.input_space:focus {
	outline: 1px solid #ee1c25;
	background-color:#fff;
	opaticy:1;
}
.input_space::placeholder {
    font-size:13.125px;
    line-height:34px;
    color:#8a8a8a;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.submit_btn {
    min-width:8em;
    height:34px;
    display: inline-block;
    align-items:flex-start;
    text-align:center;
    vertical-align:top;
    line-height:34px;
	padding:0 10px;
	margin:0;
	color:#fff;
    background-color:#ee1c25;
    border:none;
    border-radius:2px;
}