@charset "UTF-8";

--기본1
* {
   margin:0;
   padding:0;
}
body {
   min-width:1024px;
   display:block;
   font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
   margin:0;
   padding:0;
   overflow-y:scroll;
}
.movie {
   width:100%;
   display:block;
   box-sizing:border-box;
   margin:0;
   padding:150px 0 0 0;
}
.movie_container {
   max-width:1100px;
   display:block;
   box-sizing:border-box;
   margin:0 auto;
   padding:0;
}
.contents_event_home{
	color:rgb(0,0,0);
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	font-size:12ox;
	letter-spacing:-0.36px;
	line-height:13.2px;
	margin-bottom:0px;
	margin-left:22px;
	margin-right:22px;
	margin-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:50px;
	width:980px;
}
.title-top{
	border-bottom-color:rgb(238, 238, 238);
	border-bottom-style:solid;
	border-bottom-width:1px;
	color:rgb(0,0,0);
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	font-size:12px;
	letter-spacing:-0.36px;
	line-height:13.2px;
	margin-bottom:20px;
	padding-bottom:14px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
.lst_wrap{
	color:rgb(0,0,0);
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	font-size:12px;
	letter-spacing:-0.36px;
	line-height:13.2px;
	margin-top:34px;
	position:relative;
}
.lst_wrap h3{
	color:rgb(0,0,0);
	display:inline-block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	font-size:18px;
	font-style:normal;
	font-weight:400;
	letter-spacing:-0.36px;
	line-height:19.8px;
	margin-block-end:18px;
	margin-block-start:0px;
	margin-bottom:18px;
	margin-inline-end:0px;
	margin-inline-start:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;s
}
.img_lst_wrap{
	color:rgb(0,0,0);
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	font-size:12px;
	letter-spacing:-0.36px;
	line-height:13.2px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-block-end:0px;
	margin-block-start:0px;
	margin-bottom:0px;
	margin-inline-end:0px;
	margin-inline-start:-19px;
	margin-left:-19px;
	margin-right:0px;
	margin-top:0px;
	padding-bottom:0px;
	padding-inline-start:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
.img_lst_wrap li{
	color:rgb(0,0,0);
	display:list-item;
	float:left;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	font-size:12px;
	height:210px;
	letter-spacing:-0.36px;
	line-height:13.2px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-bottom:0px;
	margin-left:19px;
	margin-right:0px;
	margin-top:0px;
	position:relative;
	text-align:left;
	width:314px;
}
.itm_tit{
	bottom:40px;
	color:rgb(255,255,255);
	cursor:pointer;
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	font-size:15px;
	left:0px;
	letter-spacing:-0.36px;
	line-height:16.5px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding-left:18px;
	position:absolute;
	text-align:left;
	text-decoration-thickness:auto;
}
.itm_date{
	bottom:0px;
	color:rgb(0,0,0);
	cursor:pointer;
	display:block;
	font-family:'Roboto';
	font-size:11px;
	left:0px;
	letter-spacing:-0.36px;
	line-height:12.1px;
	line-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding-left:18px;
	position:absolute;
	text-align:left;
	text-decoration-thickness:auto;
}