@charset "UTF-8";
* {
   margin:0;
   padding:0;
}

body {
   min-width:1024px;
   display:block;
   font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
   margin:0;
   padding:0;
   overflow-y:scroll;
}
.event {
   width:100%;
   display:block;
   box-sizing:border-box;
   margin:0;
   padding:150px 0 0 0;
}

.event_container {
   max-width:1100px;
   display:block;
   box-sizing:border-box;
   margin:0 auto;
   padding:0;
   height: 1024px;
}

.event_list{
	color: rgb(0, 0, 0);
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	letter-spacing: -0.03em;
	line-height: 1.1;
	margin-bottom: 37px;
	position: relative;
	width: 995px;
	height: 950px;
}
.event_list_wrap{
	color: rgb(0, 0, 0);
	display:block;
	box-sizing:border-box;
	float: left;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	letter-spacing: -0.03em;
	line-height: 1.1;
	list-style-image: initial;
	list-style-position: initial;
	list-style-type: none;
	margin: 0px;
	position: relative;
	text-align: center;
}

.event_selected {
	width: 314px;
    height: 230px;
	margin: 0 10px;
	padding-left: 25px;
	display:list-item;
	float:left;
}
.eventMainImg {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #000;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	letter-spacing: -0.03em;
	line-height: 1.1;
	list-style-image: initial;
	list-style-position: initial;
	list-style-type: none;
	overflow: hidden;
	position: relative;
	text-align: center;
	height: 180px;
}
.eventImg img {
	width:100%;
}

.eventTitle_wrap{
	color: #000;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 12px;
	height: 33px;
	letter-spacing: -0.03em;
	line-height: 1.1;
	list-style-image: initial;
	list-style-position: initial;
	list-style-type: none;
	margin-top: 14px;
	text-align: center;
}
.eventTitle{
	color: #000;
	display: block;
	font-family: "Noto Sans KR", Roboto, dotum, sans-serif;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: -0.03em;
	line-height: 1.1;
	list-style-image: initial;
	list-style-position: initial;
	list-style-type: none;
	margin-bottom: 6px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}