@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

body {
	min-width:1024px;
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	margin:0;
	padding:0;
	overflow-y:scroll;
	box-sizing:border-box;
	word-break:keep-all;
}

/*header*/
.header {
	height:80px;
	border-bottom: 1px solid #ebebeb;
	display:block;
	box-sizing:border-box;
	margin:0;
	padding:0;
}
.header_container {
	max-width:1100px;
	display:block;
	box-sizing:border-box;
	margin:0 auto;
	position:relative;
	border:0;
}
.header_container h1 {
	height:80px;
	display:block;
	box-sizing:border-box;
	margin:0;
	padding:0;
}
.header_container h1 a {
	box-sizing:border-box;
	float:left;
	margin-top:11.69px;
}
.header_container h1 a img {
    width:auto;
	max-height:50px;
	box-sizing:border-box;
    vertical-align:middle;
    border:0;
}

/*findid*/
.findid {
	display:block;
	box-sizing:border-box;
	marging:0;
	padding:0;
}
.findid_container {
    max-width:1100px;
	display:block;
	box-sizing:border-box;
	margin:0 auto;
    padding:40px 0 0 0;
}
.title {
    font-size:28px;
    font-weight:100;
    line-height:32px;
    color:#000;
    word-break:break-all;
	margin-bottom:38px;
	padding:8px 0;
}
.headline {
    font-size:42px;
    font-weight:100;
    line-height:54px;
    color:#000;
    letter-spacing:-0.05em;
	margin:0 0 10px;
	margin-bottom:65px;
    word-break:break-all;
}
.resulttitle {
	font-size:17px;
	font-weight:normal;
    color:#000;
    padding-bottom:5px;
	border-bottom:1px solid #000;
}
.result {
	display:block;
	box-sizing:border-box;
	color:#333;
	margin:0;
	padding:23px 0;
	text-style:normal;
	border-bottom:1px solid #d0d0d0;
}
.btn_area {
	display:block;
	box-sizing:border-box;
	marging:0;
	padding:0;
}
.btn_area a {
	align-items:flex-start;
	display:inline-block;
	box-sizing:border-box;
	cursor:pointer;
	position:relative;
    line-height:50px;
    width:50px;
    height:50px;
    z-index:1;
    color:#fff;
    margin-top:70px;
    text-align:center;
    text-decoration:none;
}
.btn_area a::before {
	background-color:#ee1c25;
	content:'';
    position:absolute;
    left:0;
    top:50%;
    margin:-25px 0 0;
    width:50px;
    height:50px;
    text-align:center;
    text-decoration:none;
    border-radius:100%;
    z-index:-1;
}