@charset "UTF-8";

--기본
* {
   margin:0;
   padding:0;
}
body {
   min-width:1024px;
   display:block;
   font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
   margin:0;
   padding:0;
   overflow-y:scroll;
}

/*상단*/
.movie {
   width:100%;
   display:block;
   box-sizing:border-box;
   margin:0;
   padding:200px 0 0 0;
}
.movie_container {
   max-width:980px;
   display:block;
   box-sizing:border-box;
   margin:0 auto;
   padding:0;
}
.contents_movie_detail{
	width:980px;
	display:block;
	margin:0 22px;
	padding:0;
}
.detail_top_wrap{
	min-height:240px;
	display:block;
	margin-bottom:15px;
	padding-left:245px;
	position:relative;
}
.poster_info{
	width:205px;
	height:305px;
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;	
}
.poster_info img{
	width:100%;
	border-radius:4px;
}
.tit_info{
	display:block;
	margin:-2px 0 20px 0;
}
.tit_info strong{
	font-size:26px;
	font-weight:bold;
	letter-spacing:-0.03em;
	line-height:1.1;
}
.detail_info1{
	border-bottom:1px solid #ddd;
	display:block;
	font-size:15px;
	list-style:none;
	overflow:hidden;
	margin:0 0 20px 0;
	padding:0 0 17px 0;
	
}
.detail_info1 li{
	display:list-item;
	cursor:pointer;
	float:left;
	list-style:none;
	margin-right:25px;
	text-align:left;
}
.detail_info1 li strong {
	font-size:20px;
}
.detail_info2{
	display:block;
	list-style:none;
	margin:0 0 17px 0;
	padding:0px;
}
.detail_info2 li{
	display:list-item;
	list-style:none;
	margin-top:0px;
	text-align:left;
	font-size:13px;
	letter-spacing:-0.03em;
	line-height:1.1;
}
.detail_info2 li em {
	margin-right:10px;
	font-style:normal;
}
.detail_info2 li strong {
	color:#666;
	font-weight:bold;
}
.sub_info2 {
	margin-top:11px;
}

/*하단*/
.tab_wrap{
	display:block;
	list-style:none;
	margin:0;
	padding:80px 0 0 0;
	position:relative;
}
.tab_wrap li{
	display:list-item;
	list-style:none;
	text-align:left;
}
.tab_tit{
	width:100%;
	height:50px;
	align-items:flex-start;
	appearance:none;
	background-color:rgb(255,255,255);
	border:1px solid rgb(204,204,204);
	box-sizing:border-box;
	color:#000;
	cursor:pointer;
	display:block;
	font-size:15px;
	font-weight:bold;
	letter-spacing:-0.36px;
	line-height:50px;
	list-style:none;
	margin:0px;
	margin-bottom:32px;
	padding:1px 6px;
	text-align:center;
	vertical-align:middle;
	word-spacing:0px;
	writing-mode:horizontal-tb;
}
.tab_con{
	width:auto;
	height:auto;
	display:block;
	position:relative;
}
.tab_con strong {
	display:block;
    margin-bottom:20px;
    font-size:15px;
}
.movie_content {
	max-height:120px;
	overflow-y:scroll;
	display:block;
	position:relative;
}

.movi_score_box{
	display:block;
	margin:40px 0 33px 0;
	text-align:center;
}
.movi_score_box p {
	display:block;
	font-size:13px;
    color:#666;
    line-height:1.3;
    margin:0;
    padding:0;
}

.movi_review_box{
	height: 92px;
    margin-bottom:55px;
    border:1px solid #ccc;
    box-sizing:border-box;
    display:block;
}
.star-input {
    width:320px;
    height:88px;
    display:block;
	float:left;    
	background:#F8F8F8;
    text-align:center;
    border-right:1px solid #ccc;
}
b {
	font-family:'Roboto', "Noto Sans KR";
    font-size:28px;
    font-style:normal;
    font-weight:normal;
}
.input {
	display:block;
	text-align:center;
}
.review_write_box {
    width:656px;
    display:flex;
	float:left;
}
.review_write_box textarea {
	width:538px;
	height:100%;
	cursor:text;
	display:inline-block;
	box-sizing:border-box;
	padding:13px 18px;
	resize:none;
	font-size:14px;
	line-height:1.5;
	letter-spacing:-0.03em;
	border:none;
}
.review_submit {
    width:119px;
    height:90px;
    align-items:flex-start;
    appearance:none;
    display:inline-block;
	float:left;
    border:none;
    margin:-1px -1px 0 0;
    padding:0;
    background:#666;
    color:#fff;
    font-size:15px;
    cursor:pointer;
}

.movi_review_list{
	display:block;
	text-align:left;
}
.review_con_list{
	border-top:1px solid #ccc;
	display:block;
	margin:0;
	padding:0;
	text-align:left;
	list-style:none;
}
.review_con_list li {
	padding:20px;
	border-bottom: 1px solid #eee;
}
.topinfo {
	display:block;
	margin-bottom:12px;
}
.nameinfo {
	position:relative;
    font-size:12px;
    line-height:1.1;
    letter-spacing:-0.03em;
    padding-right:11px;
    margin-right:9px;
}
.nameinfo::before {
	content:'';
    display:block;
    position:absolute;
    top:3px;
    right:0;
    width:1px;
    height:12px;
    background:#444;
}
.scoreinfo {
	display:inline-block;
    vertical-align:middle;
    font-size:14px;
    margin-right:11px;
}
.review_info {
	display:block;
	margin-bottom:11px;
    font-size:13px;
}