@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

body {
	min-width:1024px;
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	margin:0;
	padding:0;
	overflow-y:scroll;
	box-sizing:border-box;
	word-break:keep-all;
}

/*form*/
.update_form {
	display:block;
	box-sizing:border-box;
	marging:0;
	padding:0;
}
.update_form h3 {
	font-size:28px;
    line-height:32px;
	font-weight:inherit;
	letter-spacing:-0.05em;
    color:#000;
	display:block;
	box-sizing:border-box;
    padding-bottom:20px;
	border-bottom:1px solid #000;
}
.join1 {
    width:100%;
	display:table;
	box-sizing:border-box;
    table-layout:fixed;
	padding:20px 0;
    border-bottom:1px solid #d0d0d0;
}
.join_col1 {
	width:160px;
    display:table-cell;
	box-sizing:border-box;
    vertical-align:top;
    font-size:15px;
    ling-height:34px;
    letter-spacing:-0.05em;
    color:#8a8a8a;
}
.join_col_input {
    display:table-cell;
	box-sizing:border-box;
	color:#8a8a8a;
}
.input_wrap {
	display:block;
	box-sizing:border-box;
	marging:0;
	padding:0;
}
.wrap_inner {
	display:block;
	box-sizing:border-box;
	marging:0;
	padding:0;
}
.ui_input {
    width:100%;
    max-width:462px;
    display:inline-block;
	margin:0 6px 0 0;
	padding:0;
	position:relative;
    vertical-align:top;
    background-color:#f0f0f0;
}
.ui_input2 {
    width:100%;
    max-width:462px;
    display:inline-block;
	margin:0 6px 0 0;
	padding:0;
	position:relative;
    vertical-align:top;
    background-color:#FFF;
}
.input_space {
    width:462px;
    height:34px;
    display:inline-block;
	box-sizing:border-box;
	cursor:text;
	position:relative;
    padding:0 10px;
    font-size:14px;
    line-height:34px;
    border:0;
    background-color:#f0f0f0;
    opacity:1;
    z-index:1;
}
.input_space:focus {
	outline: 1px solid #ee1c25;
	background-color:#fff;
	opaticy:1;
}
.input_space::placeholder {
    font-size:13.125px;
    line-height:34px;
    color:#8a8a8a;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.btn_pwd {
    min-width:9.375em;
    height:30px;
    display:inline-block;
    text-align:center;
    line-height:30px;
	padding:0 10px;
	margin:0 auto;
	color:#f0f0f0444;
	background-color:#fff;
	border:1px solid #444;
	border-radius:2px;
}
.submit_btn {
    min-width:9.375em;
    height:40px;
    display: inline-block;
    align-items:flex-start;
    text-align:center;
    vertical-align:top;
    line-height:40px;
	padding:0 10px;
	margin:0 auto;
	margin-top:70px;
	color:#fff;
    background-color:#ee1c25;
    border:none;
    border-radius:2px;
}