@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

body {
	min-width:1024px;
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	margin:0;
	padding:0;
	overflow-y:scroll;
}

.mypage {
	width:100%;
	display:block;
	box-sizing:border-box;
	margin:0;
	padding:150px 0 0 0;
}
.mypage_container {
	max-width:1100px;
	display:flex;
	justify-content:space-between;
	box-sizing:border-box;
	margin:0 auto;
	padding:0;
}
.mypage_lnb_wrap {
    width:200px;
    padding:40px 0 0 0;
}
.mypage_lnb {
	display:block;
	box-sizing:border-box;
	margin:0;
	padding:0;
}
.mypage_lnb p {
	display:block;
	box-sizing:border-box;
	overflow:hidden;
    margin:0;
    padding:0;
    border-radius:10px 10px 0 0;
    background-color:#444;
}
.mypage_lnb p a {
    width:100%;
	display:block;
	box-sizing:border-box;
    font-size:18px;
    line-height:90px;
    text-align:center;
    color:#fff;
    text-decoration:none;
}
.mypage_lnb ul {
	list-style:none;
    margin:0;
    padding:0;
	border:1px solid #d8d9db;
    border-left-width:2px;
    border-right-width:2px;
    border-bottom-width:2px;
    border-radius:0 0 10px 10px;
}
.mypage_lnb ul li {
	display:list-item;
	box-sizing:border-box;
	list-style:none;
	border-top: 1px solid #d8d9db;
}
.mypage_lnb ul li a {
	display:block;
    color:#222;
    padding:10px 15px;
    font-weight:400;
    background-color:#f2f4f5;
	text-decoration:none;
	line-height:1.3;
	cursor:pointer;
}
.mypage_content {
	width:calc(100% - 260px);
	display:block;
	box-sizing:border-box;
	margin:0;
    padding:40px 0 0 0;
}
