@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

body {
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	margin:0;
	padding:0;
	overflow-y:scroll;
}
.movie {
	width:100%;
	display:block;
	box-sizing:border-box;
	margin:0;
	padding:0;
}
.movie_container {
	width:calc(100% - 260px);
	display:block;
	box-sizing:border-box;
	margin:0;
	padding:0;
}