@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

body {
	min-width:1024px;
	display:block;
	font-family:'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
	margin:0;
	padding:0;
	overflow-y:scroll;
	box-sizing:border-box;
	word-break:keep-all;
}

.content {
	width:100%;
	display:block;
	box-sizing:border-box;
	margin:0;
	padding:150px 0 0 0;
}
.content_container {
	max-width:980px;
	display:block;
	box-sizing:border-box;
	margin:0 auto;
	padding:0;
}


.wrapper{
	display:flex; 
	justify-content:space-between;
}
.movieList{
	width:550px;
	height:500px;
	overflow:scroll;
}
.movieList div{
	display:flex;
	flex-direction:column;
	width:500px;
	height:200px;
}
.movieImg{
	width:100px;
	height:180px;
}